/* 
MARK: GLOBAL STYLES
*/

html, body {
    padding: 0;
    margin: 0;
}

html {
    background-color: rgb(44, 37, 33);
}

span {
    font-family: 'Exo 2';
}

.hidden {
    display: none;
}

/* 
MARK: NAV BAR
*/

.navBar {
    width: 100%;
    height: 6rem;
    /* background-color: purple; */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .7) 0%, 
                                      rgba(0, 0, 0, 0) 100%);
    position: fixed;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 0 2rem;
}

.nav-logo {
    text-decoration: none;
}

.logo-text {
    color: white;
    font-family: 'Domine';
    font-weight: 600;
    font-style: italic;
    font-size: 18pt;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    transition: .3s;
}

.nav-links a:hover {
    font-size: large;
    transition: .3s;
}

.nav-links span {
    color: white;
}

.nav-socials {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.social-icon img {
    width: 28px;
}

/*
MARK: HOME PAGE
*/

.homePage {
    display: flex;
    flex-direction: column;
}

.landing-page {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgb(44, 37, 33, 0.7), rgb(44, 37, 33, 0.7)), 
                url("/imgs/piano-temp.jpg") no-repeat center center;
}

/*
MARK: MUSIC
*/

.music-page {
    height: 110vh;
}

/*
MARK: ABOUT
*/

.about-page {
    height: 100vh;
    background-color: rgb(44, 37, 33);
}