/* 
MARK: GLOBAL STYLES
*/

html, body {
    padding: 0;
    margin: 0;
}

html {
    background-color: rgb(44, 37, 33);
}

span {
    font-family: 'Exo 2';
}

.hidden {
    display: none;
}

/* 
MARK: NAV BAR
*/

.navBar {
    width: 100%;
    height: 5.5rem;
    /* background-color: purple; */
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .6) 0%, 
                                      rgba(0, 0, 0, 0) 100%);
    position: fixed;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 0 2rem;
    z-index: 500;
}

.nav-logo {
    text-decoration: none;
}

.logo-text {
    color: white;
    font-family: 'Domine';
    font-weight: 600;
    font-style: none;
    font-size: 18pt;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    transition: .3s;
}

.nav-links a:hover {
    font-size: large;
    transition: .3s;
}

.nav-links span {
    color: white;
}

.nav-socials {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.social-icon img {
    width: 28px;
}

/*
MARK: HOME PAGE
*/

.homePage {
    display: flex;
    flex-direction: column;
}

.landing-page {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgb(44, 37, 33, 0.7), rgb(44, 37, 33, 0.7)), 
                url("/imgs/j1crop.jpg") no-repeat center center / cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-headers {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-end;
    filter: grayscale(0%);
}

.main-header {
    color: white;
    font-family: 'Domine';
    font-size: 48pt;
    font-style: none;
    color: rgb(201, 119, 52);
}

.sub-header {
    color: white;
    font-family: 'Domine';
}

/*
MARK: MUSIC
*/

.music-page {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.tab-bar {
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.tab-buttons {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: start;
    border-right: solid 1px;
}

.tab-btn {
    height: 4rem;
    width: 100%;
    border: none;
    font-family: 'Exo 2';
    color: rgb(201, 119, 52);
}

.tab-btn.active {
    background-color: yellow;
}

.tab-content {
    width: 85vw;
    height: 100%;
}

.tab-header {
    height: 5.5rem;
    background-color: aqua;
}

.tab-body {
    height: 100%;
    background-color: aquamarine;
}

/*
MARK: SCORE
*/

.score-grid {
    height: 100%;
    width: 100%;
    padding-left: 13rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    overflow-y: scroll;
}

.score-container {
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.score-thumb {
    width: 100%;
    height: 20rem;
    border-radius: 8px;
    border: 1px black solid;
}

.score-audio {
    margin-top: 1rem;
    width: 100%;
    border: 1px black solid;
    border-radius: 30px;
}

.score-buttons {
    display: flex;
    flex-direction: row;
    gap: .75rem;
    align-items: center;
    margin-top: 1rem;
}

.score-buttons button {
    border: 1px solid black;
}

.preview-button {
    text-decoration: none;
    color: black;
    padding: .75rem 3.75rem;
    border-radius: 30px;
    background-color: lightgray;
}

.download-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    background-color: lightgray;
    border-radius: 30px;
}

/*
MARK: ABOUT
*/

.about-page {
    height: 100vh;
    width: 100%;
    background-color: rgb(44, 37, 33);
    display: flex;
    flex-direction: row;

}

.about-text-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-text {
    width: 66%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.about-header {
    font-family: 'Domine';
    color: rgb(201, 119, 52);
}

.about-body {
    font-family: 'Domine';
    color: white;
    text-indent: 40px;
}

.about-pic-container {
    width: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.about-pic {
    width: 80%;
    clip-path: circle(38% at 40%);
    margin-left: 33%;
}