/* MARK: GLOBAL STYLES
*/

html, body {
    padding: 0;
    margin: 0;
}

.hidden {
    display: none;
}

/* MARK: HOME PAGE
*/

#homePage {
    height: 200vh;
}

#navBar {
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid lightgray;
    background-color: white;
    position: fixed;
}

#navContent {
    width: 90%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
}

#nameLogo {
    width: max-content;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: "Montserrat", sans-serif;
    margin-right: auto;
}

#nameLogo h1 {
    font-weight: 600;
    font-size: 24pt;
    width: max-content;
}

#navLinks {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: "Roboto Condensed";
    font-weight: 600;
}

#socials {
    width: 219px; /* Width of Name Logo */
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: .5rem;
}

.navElement {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navItem {
    width: 6rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: black;
    transition: .2s;
}

.navItem:hover {
    color: gray;
    transition: .2s;
}

.socialIcon {
    max-width: 2.5rem;
}

#spotify {
    max-width: 2rem;
}